# Testing
pytest

# Git config
pre-commit

# Core Data Stack
pandas>=2.1.0
numpy>=1.26.0
matplotlib>=3.8.0

# BSTS Backend (Pinned to avoid SciPy 1.13+ conflicts)
scipy==1.12.0
statsmodels>=0.14.1

# Fetch data from ENTSO-E Transparency Portal
entsoe-py
